:root {
  --text-main: rgb(235, 235, 235);
  --text-secondary: rgb(180, 180, 180);
  --background: rgb(44, 44, 44);
  --background-alt: rgb(65, 65, 65);
  --theme-main: rgb(49, 65, 156);
  --theme-secondary: rgb(72, 90, 190);

  --youtube: rgb(207, 49, 49);
  --twitch: rgb(100, 65, 165);
}
html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
			'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
			sans-serif;
  background-color: var(--background);
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--text-main);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--theme-main);
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--theme-secondary);
}