---
import EmbededLayout from '../layouts/EmbededLayout.astro';
import Chat from '@components/Chat';
---

<EmbededLayout title="Chat">
	<main>
		<Chat client:load hideTabs forceScroll={true} />
	</main>
</EmbededLayout>

<style>
	html, body {
		overflow: hidden;
	}
</style>