.message {
  /* background-color: var(--background-alt); */
  padding: 0.25rem 0.5rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
}

.message-text {
  color: var(--text-main);
  font-size: 1rem;
}

.message span {
  margin: 0 0.125rem;
}

.message img {
  height: 1rem;
  margin: 0 0.125rem;
}