.message {
  /* background-color: var(--background-alt); */
  padding: 0.25rem 0.5rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
  transition: all 0.15s ease-in;
}

.message:hover {
  cursor: pointer;
  background-color: var(--background-alt);
}

.message-text {
  color: var(--text-main);
  font-size: 1rem;
}

.message span {
  margin: 0 0.125rem;
}

.message img {
  height: 1rem;
  margin: 0 0.125rem;
}

.youtube {
  color: var(--youtube) !important;
}

.twitch {
  color: var(--twitch) !important;
}

.prattlr {
  color: var(--theme-main) !important;
}